body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: white;
    margin: 0px;
    width: 100%;
}

.nav-bar, .hero {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    min-width: 500px;
}

.nav-bar {
    padding: 12px 12px 0px 12px;
    height: 48px;
}

.hero {
    padding: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
    column-gap: 24px;
}

.logo {
    font-size: 24px;
    font-style: italic;
    color: yellow;
}

.menu-links{
    list-style: none;
    padding: 0px;
    margin-left: auto;
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
}

.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.hero-main{
    width: 40%;
    min-width: 250px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 16px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero-image{
    width: 60%;
    flex: 1 1 auto;
}

.hero-image img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.hero-signup {
    width: 100px;
    padding: 6px;
    background-color: #3882F6;
    border-style: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 12px;
    flex-wrap: wrap;
    color: Black;
    margin: 0px;
    padding-bottom: 48px;
    max-width: 1000px;
    min-width: 500px;
}

.content-title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 32px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    padding: 12px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    border: 2px solid #3882F6;
}

.card p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #1F2937;
}

.testimonial {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background-color: #E5E7EB;
    color: #1F2937;
    margin: 0px;
    padding: 48px 12px;
    width: 100%;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    min-width: 300px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.quoter {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.signup-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 12px;
    width: 100%;
    box-sizing: border-box;
}

.signup {
    background-color: #3882F6;
    min-width: 276px;
    max-width: 700px;
    width: 100%;
    flex: 1 1 auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    padding: 36px 0px;
}

.signup-text {
    color: white;
    font-size: 16px;
    font-weight: light;
}

.signup-title {
    font-size: 24px;
    font-weight: bold;
}

.signup button {
    padding: 8px 24px;
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 24px 0px;
    background-color: #1F2937;
    color: white;
}